{% extends 'base.html' %}

{% block content %}

<div class='container'>

    <h3>Books</h3>

    <div class='row'>
        <form method='GET'>
            <div class="input-field col s6">
              <input type='text' id='SearchText' name='SearchText'/>
              <label for='SearchText'>Book Title</label>
            </div>

            <div class='col s6'>
                 <button class="btn waves-effect waves-light" type="submit">Search
                    <i class="material-icons right">search</i>
                 </button>
            </div>
        </form>
    </div>

    <div class='row'>

        <table>
            <tr>
                <th>
                    ID
                </th>

                <th>
                    Title
                </th>

                <th>
                    Author
                </th>

                <th>
                    Favourite Character
                </th>

                <th>
                    Least Favourite Character
                </th>

                <th>
                    Moments you liked
                </th>

                 <th>
                    Moments you disliked
                </th>

                <th>
                    Recap
                </th>

                <th>
                    Would you suggest
                </th>

                <th>

                </th>

            </tr>

        {% for b in BOOKS %}

            <tr>
                <td>
                    {{ b.id }}
                </td>

                <td>
                    {{ b.title }}
                </td>

                <td>
                    {{ b.author }}
                </td>

                <td>
                    {{ b.favorite }}
                </td>

                <td>
                    {{ b.leastfavorite }}
                </td>

                <td>
                    {{ b.momentsliked }}
                </td>

                <td>
                    {{ b.momentsdisliked }}
                </td>

                <td>
                    {{ b.recap }}
                </td>

                <td>
                    {{ b.suggest }}
                </td>

                <td>
                    <a href="{{ url_for('.delete_book', id=b.id) }}">Delete</a>
                </td>

            </tr>

        {% endfor %}

        </table>
    </div>

    <div class='row'></div>

    <div class='row'>
        <form method='POST'>
            <div class="input-field col s3">
              <input name='title' placeholder="Placeholder" id="title"  type="text">
              <label for="name">Book Title</label>
            </div>

            <div class="input-field col s3">
              <input name='author' placeholder="Placeholder" id="author" type="text">
              <label for="name">Author</label>
            </div>

            <div class="input-field col s3">
              <input name='favorite' placeholder="Placeholder" id="favorite" type="text">
              <label for="name">Favourite character</label>
            </div>

            <div class="input-field col s3">
              <input name='leastfavorite' placeholder="Placeholder" id="leastfavorite" type="text">
              <label for="name">Least favourite character</label>
            </div>

            <div class="input-field col s3">
              <input name='momentsliked' placeholder="Placeholder" id="momentsliked" type="text">
              <label for="name">Moments you liked</label>
            </div>


            <div class="input-field col s3">
              <input name='momentsdisliked' placeholder="Placeholder" id="momentsdisliked" type="text">
              <label for="name">Moments you disliked</label>
            </div>

            <div class="input-field col s3">
              <input name='recap' placeholder="Placeholder" id="recap" type="text">
              <label for="name">Recap</label>
            </div>

             <div class="input-field col s3">
              <input name='suggest' placeholder="Yes/No" id="suggest" type="text">
              <label for="name">Suggest</label>
            </div>

            <div class='col s3'>
                 <button class="btn waves-effect waves-light" type="submit">Create
                    <i class="material-icons right">send</i>
                 </button>
            </div>
        </form>
    </div>

</div>

{% endblock %}